{% extends 'base.html' %} 
{% load static %}

{% block content %} 

    {% if request.user.is_authenticated %}
        <p>
            Welcome, {{ request.user.username}}! 
            (<a href="{% url 'admin:logout' %}">Logout</a>)
        </p>
        <p>{{ request.session.location }}</p>
    {% else %}
        <p>Welcome to the Mystery Books homepage.</p>
    {% endif %}
    <img src="{% static 'base/img/header_mobile.jpg' %}" alt="Bookstore header image displaying a library.">
    
{% endblock %}