{% extends 'base.html' %} 

{% block content %}    
    <p>Welcome! {% now "jS F Y H:i" %}</p>
    <p>
        {{ cardinality_text }}
    </p>
    <p>
        There {{ count|pluralize:"is,are" }} {{ count }} book{{ count|pluralize }} in the store.
    </p>
    <ul>
        {% for book in books %}
        <li>
            <strong>{{ book.title }}</strong> 
            by <em>{{ book.author }}</em>:
            {{ book.description }}. {{ book.publish_date }}
        </li>
        {% endfor %}        
    </ul>

    
    <footer>
        {% autoescape off %}
            {{ footer_content }}
        {% endautoescape %}
    </footer>
{% endblock %}
