<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <h1>Store</h1>
    <p>
        {{ cardinality_text }}
    </p>
    <p>
    {% if count == 1 %}
        There 
        is 
        1 book in the 
        store. 
    {% else %}
        There are 
        {{ count }} books in the 
        store.
    {% endif %}
    </p>
</body>
</html>